@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;800;900&display=swap');
:root{
    --color-primary:#F9CC11;
    --color-secondary:#ACACAE;
    --light-black:#1D1C1C;
    --white-color:#F5F5F7;

}
body{
    background-color:var(--light-black);
    
        font-family: "Inter", sans-serif;
        background-color: #000;
        color: #f5f5f7;
      
}
.padding{
    padding-left: 40px;
    padding-right: 40px;
}

.achieve_text{
    width: 58.375rem;
    height: 35rem;
}
.title{
    font-size: 2.1825rem;
    background-color: var(--light-black);
    color: var(--white-color);
    width: 18.25rem;
    height: 3.375rem;
    

    
}
.title5{
    position: relative;
    left:23rem;
    bottom: 4rem;
}
.title6{
    position: relative;
    left:27rem;
    bottom: 4rem;
   
}

section{
    background-color: #1E1E1E;
    min-width: 21.875rem;

}
.date{
    color: var(--color-primary);
    position: relative;
    left: 28.625rem;
    font-size: 1rem;
    padding-left: 1.5rem;
}
.tit1_date1{
    display: flex;

}

.graph{
    background-color: #1E1E1E;
    
    border-style: groove;
    border-left-width:0.125rem;
    border-color: transparent transparent transparent var(--color-primary);
    margin-top: 1rem;
    
    
   
    
}
.text-top{
    color: var(--white-color);
    font-size: 1.5625rem;
    padding-left: 1.5rem;
}
.text{
    color: var(--color-secondary);
    font-size: 1rem;
    width: 61.375rem;
    height: 4.125rem;
    padding-left: 1.5rem;
    
}
.link{
    color:var(--color-primary);
    position: relative;
    left:29rem;
    padding-top: 0.3125rem;

}
.a1{
    color: var(--color-primary);
    font-size: 1.25rem;
    text-decoration: underline;
}
.videoNav{
    display: flex;
    gap: 4rem;
    list-style-type: none;
    color: var(--color-secondary);
    margin-top: 4rem;
    position: relative;
    left: 3rem;
}
.vnavLink{
    color: var(--white-color);
}
.hr1{
    position: relative;
    right: 1.95rem;
    width: 5rem;
    border:1px solid var(--color-primary);
}
#plus {
    font-size: 1.25rem;
    display: block;
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    line-height: 16px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: transparent;
    text-shadow: 0 0 0 yellow;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.video{
width:92.703125rem;
height: 63.881875rem;
margin-top: 12rem;
}
 
     
 *::-webkit-media-controls-panel {
    background-color:white !important;
 }
 .left_buttom{
 display: flex;
 margin-top:3rem;
 gap: 3.4375rem;
 background-color:var(--light-black);
 position: relative;
 bottom: 1.6875rem;
 left:0.3125rem;
 }
 img{
    filter: blur(-10px);
    -webkit-filter: blur(-10px);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
 .group_left{
     display: flex;
     gap:65px;
     
 }
 
 .right_img{
     display: flex;
     flex-direction: column;
     gap: 2.965625rem;
     position: relative;
     right:0.2rem;
   
 }
 
 
 .more_video{
    color:var(--color-primary);
    position: relative;
    left:38rem;
    padding-top: 0.625rem;
 }
 
  a {
    text-decoration: none;
    color: inherit;
  }
  
  
  .subtitle4{
    font-size: 1rem;
    font-weight: lighter ;
     color: var(--color-primary);
     position: relative;
     top: 2rem;
     left:5rem;
  }

  .name {
    text-align: center;
    font-size: 45px;
    color: #f5f5f7;
  }
  
  .min {
    margin-top: 64px;
  }
  .min ul {
    list-style-type: none;
    display: flex;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    position: relative;
  }
  .min ul li {
    margin-left: 30px;
  }
  .min ul li a {
    color: #acacae;
  }
  .line {
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #f9cc11;
    bottom: 3px;
    left: 376px;
  }
  
  .carosule {
    width: 100%;
    overflow: hidden;
    margin-top: 57px;
  }
  
  .carosule .carosule-inner {
    display: flex;
    width: fit-content;
    transform: translate(-266px);
    -webkit-transform: translate(-266px);
    -moz-transform: translate(-266px);
    -ms-transform: translate(-266px);
    -o-transform: translate(-266px);
}
  
  .carosule .carosule-inner .img {
    max-width: 407px;
    /* width: 30%; */
    width: 407px;
    margin-right: 29px;
  }
  .carosule .carosule-inner .img p {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 54px;
    background-color: #1d1c1c;
    align-items: center;
    padding: 0 26px 0 16px;
  }
  .carosule .carosule-inner .img p span {
    color: #f5f5f7;
  }
  
  .carosule .carosule-inner .img p a {
    position: relative;
    color: #f9cc11;
  }
  .carosule .carosule-inner .img p a::before {
    content: "";
    position: absolute;
    width: calc(100% + 18px);
    bottom: -3px;
    left: -2px;
    height: 1px;
    background-color: #f9cc11;
  }
  
  .carosule .carosule-inner .img p a::after {
    content: "";
    width: 8px;
    height: 8px;
    border-right: 1px solid #f9cc11;
    border-bottom: 1px solid #f9cc11;
    border-left: none;
    border-top: none;
    position: absolute;
    right: -16px;
    top: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
  
  .carosule .carosule-inner .img img {
    width: 100%;
  }
  
  .carosule .control {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
  }
  
  .carosule .control span {
    width: 8px;
    height: 8px;
    border-right: 1px solid #f9cc11;
    border-bottom: 1px solid #f9cc11;
    border-left: none;
    border-top: none;
  }
  .carosule .control span.next {
    transform: rotate(-225deg);
    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    -o-transform: rotate(-225deg);
}
  .carosule .control span.prev {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
  
  .carosule .control ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  .carosule .control ul li {
    margin-left: 24px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #f9cc11;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  
  .carosule .control ul li.active {
    background-color: #f9cc11;
  }
  
  .biography {
    margin-top: 90px;
    
  }
  .biography .title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 64px;
  }
  
  .title10{
    position: relative;
    left:29rem ;
  }
  
  .biography .content {
    display: flex;
    justify-content: space-between;
  }
  
  .biography .content .des {
    width: 62.8%;
    color: #f5f5f7;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    padding-top: 30px;
  }
  .biography .content .img {
    width: 26.5%;
    border-radius: 25px;
  }
  
  .biography .content .img img {
    width: 100%;
  }
   
 
  
 .talk{
     width: 85.375rem;
     height: 52.6875rem;
    
 }
 .title9{
    position: relative;
    left:33rem;
 }
 .subtitle1{
     font-size: 1rem;
    font-weight: lighter ;
     color: var(--color-primary);
     position: relative;
     top: 3.75rem;
     left: 18.75rem;
 }
 .subtitle2{
    font-size: 1rem;
   font-weight: lighter ;
    color: var(--color-primary);
    position: relative;
    top: 4rem;
    left:8.4375rem;
}
.subtitle3{
    font-size: 1rem;
   font-weight: lighter ;
    color: var(--color-primary);
    position: relative;
    top: 3.125rem;
    left:8rem;
}
.subtitle5{
  font-size: 1rem;
 font-weight: lighter ;
  color: var(--color-primary);
  position: relative;
  top: 3.125rem;
  left:17rem;
}
.subtitle6{
  font-size: 1rem;
 font-weight: lighter ;
  color: var(--color-primary);
  position: relative;
  top: 2rem;
  left:8rem;
}

 .info{
     display: flex;
     color:var(--color-secondary);
     gap: 10rem;
     position: relative;
     top: 6.9375rem;
     left: 12.5rem;
     background-color: var(--light-black);

 }
 .hr2{
     width:26.25rem;
     position: relative;
     
     
     border:1px solid var(--color-primary);
 }
 .opinion{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 62.875rem;
     height: 30.357rem;
     color: var(--color-secondary);
     position: relative;
     top: 11.25rem;
     left: 12.5rem;
     border-image: linear-gradient(var(--color-primary), var(--light-black)) 30 ;
     border-width: 1px;
     border-style: solid;
     background-color: var(--light-black);
     opacity: 0.6;
    }
 .info1{
     position: relative;
     left: 7.1875rem;
 }
 .question{
     font-size: 1.875rem;
 }
 .buttonSend{
    background-color: var(--color-primary);
    color: black;
    font-size: 1.875rem;
    width: 12.625rem;
    height: 3.75rem;
    position: relative;
    top: 15.625rem;
    left: 12.375rem;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}
.contact_us{
    width: 85.375rem;
    height:13.893125rem;
}
.contact1{
    color: var(--color-secondary);
    display: flex;
    position: relative;
    gap: 28.125rem;
    top: 6.25rem;
    left: 13.75rem;
    font-size: 1.875rem;
}
.contact2{
    color:var(--color-secondary);
    display: flex;
    gap: 31.25rem;
    position: relative;
    top: 6.25rem;
    left:14.0625rem;
}
.footer{
    width: 85.375rem;
    height: 9.375rem;
    color: var(--color-secondary);
}
.hr_footer{
    position: relative;
    top: 50px;
    width: 1600px;
}
.copy_rights{
    text-align: center;
    position: relative;
    top: 3.125rem;
}

.social{
    display: flex;
    gap: 2.504375rem;
    position: relative;
    bottom: 0.625rem;
    right: 8.75rem;
}
.section-title{
  position: relative;
  color: var(--white-color);
  margin: 4rem;
  font-weight: bold;
  font-size: 45px;
  left: 350px;
  }
  
  
  .vertical-line{
      margin-top: 100px;
      transform: rotate(90deg);
      width: 50px;
      height: 2px;
      background-color: var(--color-primary);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
  }
  .main-container{
  display: flex;
  width: 80.375rem;
  height: 18.75rem;
  }
  
    #container {
      max-width: 300px;
      margin: 0 auto;  
      margin-top: 1rem;
      margin-bottom: 20px;
    }
  
  
    .ux-card{
      height: 18rem;
  
      background-color: var(--light-black);
      /* border: 1px solid var(--border-color); */
      border-width: 2px;
      border-style: solid;
      border-image: linear-gradient(to right, var(--lightseagreen-color), var(--light-black)) 1;
      padding: 8px;
      border-radius: 0px 12px 12px 12px;
      -webkit-border-radius: 0px 12px 12px 12px;
      -moz-border-radius: 0px 12px 12px 12px;
      -ms-border-radius: 0px 12px 12px 12px;
      -o-border-radius: 0px 12px 12px 12px;
    
  }
  
  
  
  .web-card{
      height: 18rem;
      background-color: var(--light-black);
      /* border: 1px solid var(--border-color); */
      border-radius: 0px 12px 12px 12px;
      -webkit-border-radius: 0px 12px 12px 12px;
      -moz-border-radius: 0px 12px 12px 12px;
      -ms-border-radius: 0px 12px 12px 12px;
      -o-border-radius: 0px 12px 12px 12px;
      border-width: 2px;
      border-style: solid;
      border-image: linear-gradient(to right, var(--green-color), var(--light-black)) 1;
      padding: 8px;
  
  }
  .u-text{
    position: relative;
    bottom: 20px;
    font-size: 1rem;
  }
  
  .marketing-card{
      height: 18rem;
      background-color: var(--light-black);
      /*border: 1px solid var(--border-color);
      */border-width: 2px;
      border-style: solid;
      border-image: linear-gradient(to right, var(--purple-color), var(--light-black)) 1;
      padding: 8px;
      border-radius: 0px 12px 12px 12px;
      -webkit-border-radius: 0px 12px 12px 12px;
      -moz-border-radius: 0px 12px 12px 12px;
      -ms-border-radius: 0px 12px 12px 12px;
      -o-border-radius: 0px 12px 12px 12px;
 }

  
  .underline-text{
      color: var(--color-primary);
      text-decoration: underline;
      text-align: center;
      margin-top: 5rem;
  }
 
  
 
 
  
  
  
 
  
  
  
  
  .column{
      margin-top: 40px;
      display: flex !important;
      flex-direction: column;
      color: white;
  }
  
  .timeline-description{
      margin-top: 10px;
      color: var(--color-secondary);
      font-size: 10px;
  }
  
  .carosule {
      width: 100%;
      overflow: hidden;
      margin-top: 57px;
    }
    
    .carosule .carosule-inner {
      display: flex;
      width: fit-content;
      transform: translate(-266px);
      -webkit-transform: translate(-266px);
      -moz-transform: translate(-266px);
      -ms-transform: translate(-266px);
      -o-transform: translate(-266px);
 }
    
    .carosule .carosule-inner .img {
      max-width: 407px;
      /* width: 30%; */
      width: 407px;
      margin-right: 29px;
    }
    
    .carosule .carosule-inner .img p {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 54px;
      background-color: var(--light-black);
      align-items: center;
      padding: 0 26px 0 16px;
    }
    .carosule .carosule-inner .img p span {
      color: var(--white-color);
    }
    
    .carosule .carosule-inner .img p a {
      position: relative;
      color: var(--color-primary);
    }
    .carosule .carosule-inner .img p a::before {
      content: "";
      position: absolute;
      width: calc(100% + 18px);
      bottom: -3px;
      left: -2px;
      height: 1px;
      background-color: var(--color-primary);
    }
    
    .carosule .carosule-inner .img p a::after {
      content: "";
      width: 8px;
      height: 8px;
      border-right: 1px solid var(--color-primary);
      border-bottom: 1px solid var(--color-primary);
      border-left: none;
      border-top: none;
      position: absolute;
      right: -16px;
      top: 5px;
      transform: rotate(-45deg);
    }
    
    .carosule .carosule-inner .img img {
      max-width: 50%; 
   }
    
    .carosule .control {
      display: flex;
      justify-content: space-around;
      margin-top: 60px;
    }
    
    .carosule .control span {
      width: 8px;
      height: 8px;
      border-right: 1px solid var(--color-primary);
      border-bottom: 1px solid var(--color-primary);
      border-left: none;
      border-top: none;
    }
    .carosule .control span.next {
      transform: rotate(-225deg);
      -webkit-transform: rotate(-225deg);
      -moz-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
      -o-transform: rotate(-225deg);
}
    .carosule .control span.prev {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
 }
    
    .carosule .control ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
    }
    
    .carosule .control ul li {
      margin-left: 24px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 1px solid var(--color-primary);
    }
    
    .carosule .control ul li.active {
      background-color: var(--color-primary);
    }
  

